# Environment
.env

# Writable folder
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
writable/uploads/*

# Vendor
vendor/

# Database backups
*.sql

# Zip backups
*.zip

# Build folder
builds/

# Temporary files
cookies.txt
headers.txt
*.html